<div class="control-group">
  <div class="span12" style="margin-left:0px;">
    <label class="control-label">Label : </label>
    <div class="controls">
      <input type="text" id="field_setting_item__label"> 
    </div>
  </div> 
</div>