<div class="innerLR add-margin-top">
  <div class="row-fluid summaries-container" style="margin-top: 10px">
    <div class="span12">
      <div class="br20"></div>
      <h3><i></i>Maintenance Summaries</h3>
      <div class="widget-body">
        <div id="summary-preventive" data-type="preventive" style="height: 250px;">
          <%= image_tag("loading.gif") %> loading chart
        </div>
      </div>
    </div>
  </div>

  <div class="row-fluid progress-container" style="margin-top: 10px">
    <%= image_tag("loading.gif") %> loading progress chart
  </div>
  <div class="br"></div>
</div>
