<% if params[:fieldset] %>
  <div class="span12 line-item" style="margin-left:0px;margin-bottom: 5px;"> 
    <input class="span5" id="work_form_group_items_attributes__options_attributes__label"  
       name="work_form_group[items_attributes][0][options_attributes][{{FINGER_PRINT}}][label]" size="30" type="text" 
       placeholder="enter your label" required="true "> 
    &nbsp;&nbsp; 
    <input class="span5" id="work_form_group_items_attributes__options_attributes__value"  
       name="work_form_group[items_attributes][0][options_attributes][{{FINGER_PRINT}}][value]" size="30" type="text" 
       placeholder="enter your value" required="true "> 
    <a href="" class="close remove_line_item" style="margin-right: 22px;">&times;</a> 
  </div>
<% else %>
  <div class="span12 line-item" style="margin-left:0px;margin-bottom: 5px;">
    <div class="span5">
      <%= text_field_tag "#{option_field('{{FINGER_PRINT}}')}[value]", "", placeholder: 'enter option value', required: true, id: item_field_option_for('value'), class: 'span4' %>
      &nbsp;&nbsp;
    </div>
    <div class="span5">
      <%= text_field_tag "#{option_field('{{FINGER_PRINT}}')}[label]", "", placeholder: 'enter option label', required: true, id: item_field_option_for('label'), class: 'span4' %>
      <a href="" class="close remove_line_item" style="margin-right: 22px;">&times;</a>
    </div>
  </div> 
<% end %>