<div class="control-group" style="margin-bottom: 5px;">
  <hr class="separator">
  <label class="control-label">Answer Options</label>
  <div class="controls line-item-container">
    <div class="span12 line-item" style="margin-left:0px;margin-bottom: 5px;">
      <div class="span5"><b>Option Value</b></div>
      <div class="span5"><b>Option Label</b></div>
    </div>
    <div class="span12 line-item" style="margin-left:0px;margin-bottom: 5px;">
      <div class="span5">
        <%= text_field_tag "#{option_field}[value]", "", placeholder: 'enter option value', required: true, id: item_field_option_for('value'), class: 'span4' %>
        &nbsp;&nbsp;
      </div>
      <div class="span5">
        <%= text_field_tag "#{option_field}[label]", "", placeholder: 'enter option label', required: true, id: item_field_option_for('label'), class: 'span4' %>
        <a href="" class="close remove_line_item" style="margin-right: 22px;">&times;</a>
      </div>
    </div> 
  </div>
</div>