<div class="control-group" style="margin-bottom: 5px;">
  <input id="{{CB_ID}}" name="{{CB_NAME}}" type="radio" value="{{CB_VAL}}" /> {{CB_LABEL}}

  <%= hidden_field_tag "#{item_field}[label]", "{{CB_LABEL_ITEM}}" %>

  <%= hidden_field_tag "#{item_field('{{OPT_KEY}}')}[label]", "{{CB_LABEL}}" %>
  
  <%= hidden_field_tag "#{item_field('{{OPT_KEY}}')}[value]", "{{CB_VAL}}" %>

  <%= hidden_field_tag "#{item_field}[field_type]", "radio" %>
</div>
