<div class="navbar main">
  <button type="button" class="btn btn-navbar">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span> 
    <span class="icon-bar"></span>
  </button>
  <div class="title_head">
    <div>
      <%= link_to "
        <span class='title_head_big'>OFFICE TOWER</span><br>
        <span class='title_head_standar'>SAP Management</span>
        ".html_safe, root_path
      %>
    </div>
  </div>
</div>