<div class="innerLR add-margin-top">
	<div class="hr_title">
		<div class="buttons pull-right">
	    <%= link_to '<i></i>Add New Permission'.html_safe, new_permission_path, :class => "btn btn-icon btn-primary glyphicons circle_plus green #{permission_active_if(:permission,[:create,:manage])}" %>
	  </div>
		<h3> Edit Permission </h3>
	</div>
	<%= form_for(:permission, url: permission_path(@permission.id), method:"put", html:{class: "form-horizontal margin-none"}) do |f| %>
		<%= render partial:"form",locals: {f: f} %>
	<% end %>
</div>

	

