<div class="innerLR add-margin-top">
	<div class="form-horizontal margin-none">

		<div class="widget widget-heading-simple widget-body-gray">
			<div class="row-fluid">
				<div class="form-actions">
		  	 	<h3> Show Permission
						<div class="buttons pull-right">
					    <%= link_to "<i></i>Edit Data".html_safe ,edit_permission_path(@permission.id),class: "btn btn-icon btn-primary green #{permission_active_if(:permission,[:update,:manage])}" %>
							<%= link_to "<i></i>Cancel".html_safe ,permissions_path,class: "btn btn-icon btn-default" %>
					  </div>
					</h3>
				</div>

				<table class="table table-stripped gray-popup view_table blue">
			    <tbody>
			        <tr>
			            <th width="30%">Name</th>
			            <th><%= @permission.name %></th>
			        </tr>
			    </tbody>   
				</table>	
			</div>
		</div>
	</div>
	
</div>

	

