<div class="widget widget-2 widget-tabs widget-tabs-2 tabs-right border-bottom-none">
	<div class="widget-head">
		<ul>
			<li class="active">
				<a class="glyphicons building" href="#account-settings" data-toggle="tab">
					<i></i>Companies
				</a>
			</li>
		</ul>
	</div>
</div>
<h3 class="glyphicons building"><i></i> Edit Company
	<div class="buttons pull-right">
    <%= link_to '<i></i>Add New Company'.html_safe,new_company_path,:class => "btn btn-icon btn-primary glyphicons building", id:"gradien" if allow?(:company,[:create]) %>
  </div>
</h3>
<div class="innerLR">
	<div class="tab-content" style="padding: 0;">
		<%= form_for(:company, url: company_path(@company.id), method: "put", html: {class: "form-horizontal margin-none"}) do |f| %>
	  	<%= render partial:"form", locals: {f: f, company_profile: @company.profile, company_profile_address: @company.profile.address} %>
  	<% end %>
	</div>
</div>



	

