<div class="innerLR add-margin-top">
  <div class="tab-content" style="padding: 0;">
    <div class="hr_title">
        <div class="buttons pull-right">
          <%= link_to '<i></i>Add New APK'.html_safe,new_apk_path,:class => "btn btn-icon btn-primary glyphicons circle_plus green", id:"gradien" if allow?(:apk,[:create]) %>
        </div>
      <h3> Edit APK </h3>
    </div>
    <%= form_for(:apk, url: apk_path(@apk.id), method: "put", html: {class: "form-horizontal margin-none"}) do |f| %>
      <%= render partial:"form", locals: {f: f} %>
    <% end %>
  </div>
</div>
