<div id="login">
	<%= form_tag forgot_path,class: "form-signin",id: "gradien_log", method: "POST" do %>
		<div class="devise_scop">
			<div style="text-align:center">
				<%= image_tag "sap.png" %>
			</div>
			<div class="br"></div>
			<h3>Foorgot Password</h3>
			<hr>
			<div class="br"></div>
			<div class="uniformjs">
				<label>Your Email address</label>
				<%= text_field_tag :email, params[:email], class: "input-block-level"%>
			</div>
			<button class="btn btn-large btn-primary blue_btn" id="full" name="submit" type="submit">
				Send
			</button>
		</div>
		<div class="devise_footer">
			<%= link_to "back to login ?",login_path, class:'password' %>
		</div>
	<% end %>
</div>
