<div class="control-group" style="margin-bottom: 5px;">
  <select id="{{FORM_ID}}" name="{{FORM_NAME}}" class='span10'>
    <option value="">Please select one</option>
    {{FORM_OPTIONS}}
  </select>
  {{HIDDEN_FIELDS}}
</div>