<div class="block-container">
  <div class="well">
    <div class="row-fluid">   
      <div class="span12">
        <div class="pull-left">
          <h4>Field Setting</h4>
        </div>
        <div class="pull-right">
          <a href="" class='close remove_field_setting'>&times;</a>
        </div>
      </div>
      <div class="span12">
        <div class="control-group">
          <label class="control-label">Field Type</label>
          <div class="controls">
            <%= select_tag "field_setting[type]", options_for_select(WorkFormGroup::FIELD_TYPES), {prompt: 'Select Field Type', class: 'span10'} %>
          </div>
        </div>
      </div>
      <div class="span12 field-item-container hide">
        
      </div>
      <div class="span12 field-item-action hide">
        <div class="control-group">
          <label class="control-label">&nbsp;</label>
          <div class="controls">
            <%= link_to "<i></i>Add Field".html_safe,"",class: "btn btn-icon btn-default glyphicons circle_plus green" %>
          </div>
        </div>
      </div>
    </div>
  </div>        
</div>
